.banner{
    height: 70vh;
    background-image: linear-gradient(to right bottom, rgba(30,115,172,0.7), rgba(142,57,153,0.6)), url(https://media.gettyimages.com/photos/code-picture-id182465097?s=2048x2048);
    background-size: cover;
}

.header-text{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    left: 20rem;
    top: 10rem;
    color: rgb(51, 51, 51);
}